:root {
  --DarkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --VeryDarkBlue: hsl(212, 21%, 14%);
  --DarkGrayishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

:root {
  --bgColor: var(--Cream);
  --textColor: var(--DarkGrayishBlue);
  --cardColor: var(--White);
  font-size: 14px;
}

*,
* *,
* *::after,
* *::before,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--textColor);
}

:focus {
  outline: 2px solid red;
  outline-offset: 0.1rem;
}

BODY {
  background: var(--bgColor);
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

SVG {
  width: auto;
  height: 100%;
}

A {
  background: none;
  text-decoration: none;
  color: inherit;
}

ARTICLE {
  background: var(--cardColor);
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}
ARTICLE SPAN {
  display: block;
}
ARTICLE H1,
ARTICLE .reduce_price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2em;
}
ARTICLE H1 {
  color: var(--VeryDarkBlue);
}
ARTICLE .reduce_price {
  color: var(--DarkCyan);
}
ARTICLE H2 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 0.8em;
  text-transform: uppercase;
}
ARTICLE IMG {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
ARTICLE BUTTON {
  background: var(--DarkCyan);
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
ARTICLE BUTTON SPAN {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--White);
  color: var(--White);
  align-items: center;
}
ARTICLE BUTTON .icon_container {
  width: 15px;
  height: 16px;
}
ARTICLE .info {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
ARTICLE .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
ARTICLE .price .std_price {
  text-decoration: line-through;
}

@media screen and (min-width: 600px) {
  ARTICLE {
    display: flex;
  }
}